body {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

main {
    text-align: center;
    color: white;
}

article {
    margin: 25px;
}

h1 {
    color: white;
    text-align: center;
}

nav {
  background: black;
  text-align: center;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 10px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
}

footer p {
    bottom: auto;
    text-align: center;
    color: white;
}

svg {
    fill:white;
}



